<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bo.edu.uto.dtic.sim.mapas.EnlaceMapper">
	<resultMap id="enlaceResultMap" type="Enlace">
		<id column="id_enlace" property="id_enlace"/>
		<result column="id_enlace_padre" property="id_enlace_padre"/>
		<result column="id_estado" property="id_estado"/>
		<result column="orden" property="orden"/>
		<result column="nivel" property="nivel"/>
		<result column="enlace" property="enlace"/>
		<result column="ruta" property="ruta"/>
		<result column="posicion" property="posicion"/>
		<result column="id_rol" property="id_rol"/>
		<collection property="enlaces" column="{id_enlace=id_enlace,id_rol=id_rol}" ofType="Enlace" select="selectMenuHijos"/>
	</resultMap>
	<select id="getMenuByRol" resultMap="enlaceResultMap" parameterType="Integer">
		select *, m.id_rol
			from public."_enlaces" e
				join public."_menus" m on (e.id_enlace = m.id_enlace)
			where
				m."id_estado"
				and e."id_estado"
				and e.nivel = 0
				and e.posicion = 'I'
				and m.id_rol = #{id_rol}
		order by orden
		;
	</select>
	<select id="selectMenuHijos" resultMap="enlaceResultMap">
		select *, m.id_rol
			from public."_enlaces" e
				join public."_menus" m on (e.id_enlace = m.id_enlace)
			where
				m."id_estado"
				and e."id_estado"
				and e.posicion = 'I'
				and m.id_rol = #{id_rol}
				and e.id_enlace_padre = #{id_enlace}
		order by orden
		;
	</select>
</mapper>
