<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('Profile Settings')"></div>
</th:block>

<head>

</head>

<body>
	<div layout:fragment="content">
		<div class="position-relative mx-n4 mt-n4">
			<div class="profile-wid-bg profile-setting-img">
				<img src="/assets/images/profile-bg.jpg" class="profile-wid-img" alt="">
			</div>
		</div>

		<div class="row">
			<div class="col-xxl-3">
				<div class="card mt-n5">
					<div class="card-body p-4">
						<div class="text-center">
							<div class="profile-user position-relative d-inline-block mx-auto  mb-4">
								<img src="/assets/images/users/avatar-1.jpg"
									class="rounded-circle avatar-xl img-thumbnail user-profile-image"
									alt="user-profile-image">
								<div class="avatar-xs p-0 rounded-circle profile-photo-edit">
									<input id="profile-img-file-input" type="file" class="profile-img-file-input">
									<label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
										<span class="avatar-title rounded-circle bg-light text-body">
											<i class="ri-camera-fill"></i>
										</span>
									</label>
								</div>
							</div>
							<h5 class="fs-16 mb-1">Daniel Flores Giraldez</h5>
							<p class="text-muted mb-0">Ingeniería Industrial</p>
						</div>
					</div>
				</div>
				<!--end card-->
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-center mb-5">
							<div class="flex-grow-1">
								<h5 class="card-title mb-0">Completar Datos</h5>
							</div>
							<div class="flex-shrink-0">
								<a href="javascript:void(0);" class="badge bg-light text-primary fs-12"><i
										class="ri-edit-box-line align-bottom me-1"></i> Editar</a>
							</div>
						</div>
						<div class="progress animated-progress custom-progress progress-label">
							<div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30"
								aria-valuemin="0" aria-valuemax="100">
								<div class="label">30%</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-center mb-4">
							<div class="flex-grow-1">
								<h5 class="card-title mb-0">Datos de Contacto</h5>
							</div>
							<div class="flex-shrink-0">
								<a href="javascript:void(0);" class="badge bg-light text-primary fs-12"><i
										class="ri-add-fill align-bottom me-1"></i> Añadir</a>
							</div>
						</div>
						<div class="mb-3 d-flex">
							<div class="avatar-xs d-block flex-shrink-0 me-3">
								<span class="avatar-title rounded-circle fs-16 bg-dark text-light">
									<i class="ri-github-fill"></i>
								</span>
							</div>
							<input type="email" class="form-control" id="gitUsername" placeholder="Username"
								value="@daveadame">
						</div>
						<div class="mb-3 d-flex">
							<div class="avatar-xs d-block flex-shrink-0 me-3">
								<span class="avatar-title rounded-circle fs-16 bg-primary">
									<i class="ri-global-fill"></i>
								</span>
							</div>
							<input type="text" class="form-control" id="websiteInput" placeholder="www.example.com"
								value="www.velzon.com">
						</div>
						<div class="mb-3 d-flex">
							<div class="avatar-xs d-block flex-shrink-0 me-3">
								<span class="avatar-title rounded-circle fs-16 bg-success">
									<i class="ri-dribbble-fill"></i>
								</span>
							</div>
							<input type="text" class="form-control" id="dribbleName" placeholder="Username"
								value="@dave_adame">
						</div>
						<div class="d-flex">
							<div class="avatar-xs d-block flex-shrink-0 me-3">
								<span class="avatar-title rounded-circle fs-16 bg-danger">
									<i class="ri-pinterest-fill"></i>
								</span>
							</div>
							<input type="text" class="form-control" id="pinterestName" placeholder="Username"
								value="Advance Dave">
						</div>
					</div>
				</div>
				<!--end card-->
			</div>
			<!--end col-->
			<div class="col-xxl-9">
				<div class="card mt-xxl-n5">
					<div class="card-header">
						<ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab">
									<i class="fas fa-home"></i> Detalles Personales
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
									<i class="far fa-user"></i> Cambiar Password
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#experience" role="tab">
									<i class="far fa-envelope"></i> Datos de Profesional
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#privacy" role="tab">
									<i class="far fa-envelope"></i> Documentos Presentados
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#ordenespago" role="tab">
									<i class="far fa-envelope"></i> Ordenes de Pago
								</a>
							</li>
						</ul>
					</div>
					<div class="card-body p-4">
						<div class="tab-content">
							<div class="tab-pane active" id="personalDetails" role="tabpanel">
								<form action="javascript:void(0);">
									<div class="row">
										<div class="col-lg-4">
											<div class="mb-3">
												<label for="firstnameInput" class="form-label">Nombres</label>
												<input type="text" class="form-control" id="firstnameInput"
													placeholder="Enter your firstname" value="Daniel">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-4">
											<div class="mb-3">
												<label for="lastnameInput" class="form-label">Apellido Paterno</label>
												<input type="text" class="form-control" id="lastnameInput"
													placeholder="Enter your lastname" value="Flores">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-4">
											<div class="mb-3">
												<label for="lastnameInput" class="form-label">Apellido Materno</label>
												<input type="text" class="form-control" id="lastnameInput"
													placeholder="Enter your lastname" value="Giraldez">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-6">
											<div class="mb-3">
												<label for="phonenumberInput" class="form-label">Número de
													Telefono</label>
												<input type="text" class="form-control" id="phonenumberInput"
													placeholder="Enter your phone number" value="+(1) 987 6543">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-6">
											<div class="mb-3">
												<label for="emailInput" class="form-label">Correo Electrónico</label>
												<input type="email" class="form-control" id="emailInput"
													placeholder="Enter your email" value="daveadame@gmails.com">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-12">
											<div class="mb-3">
												<label for="JoiningdatInput" class="form-label">Fecha Nacimiento</label>
												<input type="text" class="form-control" data-provider="flatpickr"
													id="JoiningdatInput" data-date-format="d M, Y"
													data-deafult-date="24 Nov, 2021" placeholder="Select date" />
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-4">
											<div class="mb-3">
												<label for="cityInput" class="form-label">Ciudad</label>
												<input type="text" class="form-control" id="cityInput"
													placeholder="City" value="Oruro" />
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-4">
											<div class="mb-3">
												<label for="countryInput" class="form-label">Provincia</label>
												<input type="text" class="form-control" id="countryInput"
													placeholder="Country" value="Cercado" />
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-4">
											<div class="mb-3">
												<label for="zipcodeInput" class="form-label">Correo</label>
												<input type="text" class="form-control" minlength="5" maxlength="6"
													id="zipcodeInput" placeholder="Enter zipcode" value="90011">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-12">
											<div class="mb-3 pb-2">
												<label for="exampleFormControlTextarea"
													class="form-label">Descripción</label>
												<textarea class="form-control" id="exampleFormControlTextarea"
													placeholder="Enter your description"
													rows="3">Descripción auxiliar.</textarea>
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-12">
											<div class="hstack gap-2 justify-content-end">
												<button type="submit" class="btn btn-primary">Actualizar</button>
												<button type="button" class="btn btn-soft-success">Cancelar</button>
											</div>
										</div>
										<!--end col-->
									</div>
									<!--end row-->
								</form>
							</div>
							<!--end tab-pane-->
							<div class="tab-pane" id="changePassword" role="tabpanel">
								<form action="javascript:void(0);">
									<div class="row g-2">
										<div class="col-lg-4">
											<div>
												<label for="oldpasswordInput" class="form-label">Password
													Antiguo*</label>
												<input type="password" class="form-control" id="oldpasswordInput"
													placeholder="Enter current password">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-4">
											<div>
												<label for="newpasswordInput" class="form-label">Nuevo Password*</label>
												<input type="password" class="form-control" id="newpasswordInput"
													placeholder="Ingrese Nuevo password">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-4">
											<div>
												<label for="confirmpasswordInput" class="form-label">Confirmar el
													Password*</label>
												<input type="password" class="form-control" id="confirmpasswordInput"
													placeholder="Confirm password">
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-12">
											<div class="mb-3">
												<a href="javascript:void(0);"
													class="link-primary text-decoration-underline">¿Olvido su
													contraseña?</a>
											</div>
										</div>
										<!--end col-->
										<div class="col-lg-12">
											<div class="text-end">
												<button type="submit" class="btn btn-success">Cambiar el
													Password</button>
											</div>
										</div>
										<!--end col-->
									</div>
									<!--end row-->
								</form>
							</div>
							<!--end tab-pane-->
							<div class="tab-pane" id="experience" role="tabpanel">
								<form>
									<div id="newlink">
										<div id="1">
											<div class="row">
												<div class="col-lg-12">
													<div class="mb-3">
														<label for="jobTitle" class="form-label">Título</label>
														<input type="text" class="form-control" id="jobTitle"
															placeholder="Job title" value="Ing.">
													</div>
												</div>
												<!--end col-->
												<div class="col-lg-6">
													<div class="mb-3">
														<label for="companyName" class="form-label">Lugar de
															Trabajo</label>
														<input type="text" class="form-control" id="companyName"
															placeholder="Company name" value="Empresa Minera SRL">
													</div>
												</div>
												<!--end col-->
												<div class="col-lg-12">
													<div class="mb-3">
														<label for="jobDescription" class="form-label">Descripción del
															Trabajo</label>
														<textarea class="form-control" id="jobDescription" rows="3"
															placeholder="Enter description">Breve descripción del trabajo. </textarea>
													</div>
												</div>
												<!--end col-->
												<div class="hstack gap-2 justify-content-end">
													<a class="btn btn-success" href="javascript:deleteEl(1)">Borrar</a>
												</div>
											</div>
											<!--end row-->
										</div>
									</div>
									<div id="newForm" style="display: none;">

									</div>
									<div class="col-lg-12">
										<div class="hstack gap-2">
											<button type="submit" class="btn btn-success">Actualizar</button>
											<a href="javascript:new_link()" class="btn btn-primary">Añadir Nuevo Dato
												Profesional</a>
										</div>
									</div>
									<!--end col-->
								</form>
							</div>
							<!--end tab-pane-->
							<div class="tab-pane" id="privacy" role="tabpanel">
								<div class="mb-4 pb-2">
									<h5 class="card-title text-decoration-underline mb-3">Documentos Presentados en
										Folder:</h5>
									<ul class="list-unstyled mb-0">
										<li class="d-flex">
											<div class="flex-grow-1">
												<label for="directMessage" class="form-check-label fs-14">Solicitud de
													admisión al programa</label>
												<p class="text-muted">Solicitud de Admisión al programa debidamente
													llenado y sin observaciones</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="directMessage" checked />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="desktopNotification">
													Fotocopia del carnet de identidad
												</label>
												<p class="text-muted">Foto para título fondo color perla 3x3.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="desktopNotification" checked />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="emailNotification">
													Ficha de inscripción
												</label>
												<p class="text-muted"> Descripción Ficha.
												</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="emailNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="chatNotification">
													Documento de compromiso
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="chatNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="purchaesNotification">
													Certificado de nacimiento
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="purchaesNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="purchaesNotification">
													Historial academico licenciatura
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="purchaesNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="purchaesNotification">
													Certificado calificaciones licenciatura
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="purchaesNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="purchaesNotification">
													Fot. Legalizada del diploma academico
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="purchaesNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="purchaesNotification">
													Curriculum vitae (hoja de vida)
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="purchaesNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="purchaesNotification">
													Fotografia 6 x 5 fonfo perla
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="purchaesNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="purchaesNotification">
													Derecho de tramite
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="purchaesNotification" />
												</div>
											</div>
										</li>
										<li class="d-flex mt-2">
											<div class="flex-grow-1">
												<label class="form-check-label fs-14" for="purchaesNotification">
													Boleta de matricula
												</label>
												<p class="text-muted">Descripción.</p>
											</div>
											<div class="flex-shrink-0">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch"
														id="purchaesNotification" />
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!--end tab-pane-->
							<div class="tab-pane" id="ordenespago" role="tabpanel">
								<form>


									<!-- Striped Rows -->
									<table class="table table-striped">
										<thead>
											<tr>
												<th scope="col">Id</th>
												<th scope="col">Descripción</th>
												<th scope="col">Fecha Orden</th>
												<th scope="col">Fecha Pago</th>
												<th scope="col">Monto</th>
												<th scope="col">Estado</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>Pago de la Matrícula de Gestión ambiental v6</td>
												<td>2023-12-20</td>
												<td>2024-01-17</td>
												<td>bs. 1500.00</td>
												<td><span class="badge bg-success-subtle text-success">Pagado</span>
												</td>
											</tr>
											<tr>
												<th scope="row">1</th>
												<td>Primera Cuota de Gestión ambiental v6</td>
												<td>2023-12-20</td>
												<td>2024-02-01</td>
												<td>bs. 500.00</td>
												<td><span class="badge bg-success-subtle text-success">Pagado</span>
												</td>
											</tr>
											<tr>
												<th scope="row">1</th>
												<td>Segunda cuota de Gestión ambiental v6</td>
												<td>2023-12-20</td>
												<td></td>
												<td>bs. 500.00</td>
												<td><span class="badge bg-success-subtle text-danger">Atrasado</span>
												</td>
											</tr>
											<tr>
												<th scope="row">1</th>
												<td>Tercera cuota de Gestión ambiental v6</td>
												<td>2023-12-20</td>
												<td></td>
												<td>bs. 500.00</td>
												<td><span class="badge bg-success-subtle text-warning">Pendiente</span>
												</td>
											</tr>
										</tbody>
									</table>


								</form>
							</div>
							<!--end tab-pane-->
						</div>
					</div>
				</div>
			</div>
			<!--end col-->
		</div>
		<!--end row-->

	</div>

	<th:block layout:fragment="pagejs">

		<!-- profile-setting init js -->
		<script src="/assets/js/pages/profile-setting.init.js"></script>
	</th:block>
</body>

</html>