<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="sidebar" th:remove="tag">
		<!-- ========== App Menu ========== -->
		<div class="app-menu navbar-menu">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<!-- Dark Logo-->
				<a href="/" class="logo logo-dark">
					<span class="logo-sm">
						<img th:src="@{/assets/images/logo-sm.png}" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img th:src="@{/assets/images/uto_big.png}" alt="" height="40">
					</span>
				</a>
				<!-- Light Logo-->
				<a href="/" class="logo logo-light">
					<span class="logo-sm">
						<img th:src="@{/assets/images/logo-sm.png}" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img th:src="@{/assets/images/uto_big.png}" alt="" height="40">
					</span>
				</a>
				<button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
					id="vertical-hover">
					<i class="ri-record-circle-line"></i>
				</button>
			</div>

			<div id="scrollbar">
				<div class="container-fluid">

					<div id="two-column-menu">
					</div>
					<ul class="navbar-nav" id="navbar-nav">
						<li class="menu-title"><span data-key="t-menu">Menu</span></li>
						<div id="menu_aplicacion">

						</div>
						<li class="nav-item">
							<a class="nav-link menu-link collapsed" href="#sidebarMultilevel" data-bs-toggle="collapse"
								role="button" aria-expanded="false" aria-controls="sidebarMultilevel">
								<i class="las la-folder-plus"></i> <span data-key="t-multi-level">Programas</span>
							</a>
							<div class="menu-dropdown collapse" id="sidebarMultilevel" style="">
								<ul class="nav nav-sm flex-column">
									<li class="nav-item">
										<a th:href="@{/programas/index}" class="nav-link" data-key="t-level-1.1">Lista de Programas</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/programas/nuevo}" class="nav-link" data-key="t-level-1.1">Nuevo Programa</a>
									</li>
									<li class="nav-item">
										<a th:href="@{/programas/editar}" class="nav-link" data-key="t-level-1.1">Editar Programa</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>

			<div class="sidebar-background"></div>
		</div>
		<!-- Left Sidebar End -->
		<!-- Vertical Overlay-->
		<div class="vertical-overlay"></div>
	</div>
</body>

</html>